
/* Aquí van los estilos específicos */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos específicos de la página */
/* Puedes añadir estilos adicionales aquí según sea necesario */
.bienvenida {
    background-image: url('imagenes/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Esto hace que la sección ocupe el 100% de la altura de la pantalla */
    position: relative; /* Añadimos posición relativa para poder posicionar el pseudo-elemento */
}

.bienvenida::before {
    content: '';
    position: absolute; /* Añadimos posición absoluta para que cubra toda la sección */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo semitransparente */
}

.bienvenida .container {
    position: relative; /* Añadimos posición relativa para que el contenido se coloque sobre el pseudo-elemento */
    z-index: 1; /* Añadimos z-index para colocar el contenido sobre el pseudo-elemento */
}

.bienvenida h1,
.bienvenida p,
.bienvenida a {
    color: white; /* Color de texto blanco */
    font-weight: bold; /* Texto en negrita */
}




/* .banner {
    height: 300px;
    background-image: url('imagenes/banner.jpg');
    background-size: cover;
} */

.caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

.foto-perfil {
    max-width: 100%;
    border-radius: 50%;
}

.titulo-principal {
    text-align: center;
    margin-top: 20px;
}

.habilidades,
.proyectos {
    padding: 20px;
}

.proyectos-items {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos-items li {
    width: 30%;
    margin-bottom: 20px;
}

.proyecto-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.proyecto-info iframe {
    flex: 1;
    margin-right: 20px;
}

.proyecto-detalles {
    flex: 2;
}

.contacto {
    text-align: center;
    padding: 20px;
}

.contenido-contacto {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contenido-contacto li {
    margin: 0 10px;
}

.copyright {
    text-align: center;
    padding: 20px;
}
    